// https: //github.com/jakehartnell/react-images-upload#readme

.deleteImage {
    background-color: $color-blue !important;
    line-height: 35px !important;
}

.images-upload__label {
    text-align: center;
}